.wrapper {
    width: 330px;
    font-family: 'Helvetica';
    font-size: 18px;
}

.StepProgress {
    position: relative;
    padding-left: 45px;
    list-style: none;
}

    .StepProgress::before {
        display: inline-block;
        content: '';
        position: absolute;
        top: 0;
        left: 19px;
        width: 10px;
        height: 100%;
    }

.StepProgress-item {
    position: relative;
    counter-increment: list;
}

    .StepProgress-item:not(:last-child) {
        padding-bottom: 20px;
    }

    .StepProgress-item::before {
        display: inline-block;
        content: '';
        position: absolute;
        left: -30px;
        height: 100%;
        width: 13px;
    }

    .StepProgress-item::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        left: -30px;
        width: 26px;
        height: 26px;
        border: 2px solid #CCC;
        border-radius: 50%;
        background-color: #FFF;
    }

    .StepProgress-item.is-done::before {
        border-left: 2px solid green;
    }

    .StepProgress-item.is-done::after {
        content: "✔";
        font-size: 14px;
        color: #FFF;
        text-align: center;
        border: 2px solid green;
        background-color: green;
    }

    .StepProgress-item.current::before {
        border-left: 2px solid green;
    }

    .StepProgress-item.current::after {
        content: counter(list);
        padding-top: 1px;
        width: 33px;
        height: 33px;
        top: -4px;
        left: -40px;
        font-size: 18px;
        text-align: center;
        color: green;
        border: 2px solid green;
        background-color: white;
    }

.StepProgress strong {
    display: block;
}
