body {
}
form {
    display: flex;;
    flex-direction: column;
    gap: 8px;
}
label {
    font-size: 15px;
    font-weight: 800;
}
button {
    width: 10%;
    text-decoration: none;
    color: white
}
select {
    width: 60%;
}
